<div class="navbar border-bottom py-4 px-5">
  <div class="header-logo">
    <%= link_to "LetterBox", movies_path %>
  </div>
  <div class="header-actions">
    <%= link_to "Add a new list", new_list_path, class: "btn btn-info rounded-pill" %>
  </div>
</div>
