<div class="sidebar py-5 px-2">
  <h6>NAVIGATION</h6>
  <ul class="list-unstyled">
    <li class="my-2">
      <%= link_to movies_path, class: "btn btn-outline-secondary rounded-pill" do %>
        <i class="fa-solid fa-clapperboard me-2"></i> Tous les films
      <% end %>
    </li>
    <li class="my-2">
      <%= link_to movies_path, class: "btn btn-outline-secondary rounded-pill" do %>
        <i class="fa-solid fa-table-list me-2"></i></i> Mes listes
      <% end %>
    </li>
    <li class="my-2">
      <%= link_to movies_path, class: "btn btn-outline-secondary rounded-pill" do %>
        <i class="fa-solid fa-square-plus me-2"></i> Ajouter une liste
      <% end %>
    </li>
  </ul>
</div>
